:root {
  --colorTextos: #8dc9e6;
 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1;
}

body {
  background: #f3f5fc; 
  overflow: auto;
}

body::-webkit-scrollbar{
    width: 7px;
  }

body::-webkit-scrollbar-thumb{
    background: #3caa94;
    border-radius: 1px;
  }

header {
  left: 0%;
  background-color: rgba (68, 148, 148, 0.5);
  height: 60px;
  width: 100%;
  background: linear-gradient(to right, #3caa94,#449494, #3caa94);
  transition: 0.3s ease all;
}

.titulo {
  position: relative; width: 100%; height:20%; font-size: 30px;
  font-style: bold; color: #ffffff; text-align: center; top:20%;
}

.caja_uno{
  position:relative; width: 96%; margin-top:5%; height:30%; left:2%; right:2%; padding: 2%;
  font-family: "Inter"; font-style: normal; font-weight: 400; font-size: 20px; text-justify: justify;
  text-align: center; text-transform: lowercase;
  color: #0a3871;  background-color: #ffffff50;  border: 1px solid #46c586; border-radius: 4px;
  resize: none;
}

.caja_uno::-webkit-scrollbar{
    width: 7px;
  }

  .caja_uno::-webkit-scrollbar-thumb{
    background: #46c586;
    border-radius: 5px;
  }

.mensaje_acento{
  position: relative; width: 96%; top: 42%; left:2%; margin-top: 1%;
  text-align: center; color: #449494; padding: 1%; display: inline-block;
}

.contenedorDos{
    margin-top:4%;
  }

.encryptorButton {
    background-color: white; /* Green */
    border: 1px solid #bdbfc2;
    box-sizing: border-box;
    border-radius: 10px;
    color: #46c586;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 3%;
    margin-right: 2%;
    width: 45%;
    margin-top:10%
}

.encryptorButton:hover {
  background-color:#46c586;
  color: white;
}

.decryptorButton {
  background-color: white; /* Green */
    border: 1px solid #bdbfc2;
    box-sizing: border-box;
    border-radius: 10px;
    color: #46c586;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 0%;
    margin-right: 2%;
    width: 45%;
}

.decryptorButton:hover {
  background-color: #46c586;
  color: white;
}

.contenedorTres{
    margin-top:4%;
  }

.caja_dos {
  position:relative;
  width: 96%;
  height:30%;
  left:2%;
  right:2%;
  top:59%;
  padding: 2%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #0a3871;
  text-align: center;
  text-justify: justify;
  text-transform: lowercase;
  background-color: #ffffff50;
  border: 1px solid #46c586;
  border-radius: 4px;
  resize: none;
}
.caja_dos::-webkit-scrollbar{
    width: 7px;
  }

  .caja_dos::-webkit-scrollbar-thumb{
    background: #46c586;
    border-radius: 5px;
  }

.mensajeUno{
  position: absolute;
  width: 96%;
  top: 80%;
  left:2%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #343A40;
  display: none;
}
.mensajeDos{
  position: absolute;
  width: 96%;
  top: 92%;
  left:2%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  color: #449494;
  display: none;
}

.contenedorCuatro{
    margin-top:4%;
  }

.copiarButton {
    background-color: white; /* Green */
    border: 1px solid #bdbfc2;
    box-sizing: border-box;
    border-radius: 10px;
    color: #46c586;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 3%;
    margin-right: 2%;
    width: 45%;
    margin-top: 1%;
}

.copiarButton:hover {
  background-color: #46c586;
  color: white;
}

.limpiarButton {
    background-color: white; /* Green */
    border: 1px solid #bdbfc2;
    box-sizing: border-box;
    border-radius: 10px;
    color: #46c586;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 0%;
    margin-right: 2%;
    width: 45%;
}

.limpiarButton:hover {
  background-color: #46c586;
  color: white;
}

.imagen{
    display: none;
    visibility:hidden;
}

@media only screen and (min-width: 768px) { /*Probado en ipad*/

 
  .container{
    border: 1px solid #bdbfc2; box-sizing: border-box; padding: 5% 5% 27% 5%;
  }
  .caja_uno {
    font-size: 24px;
    border: 1px solid #46c586; box-sizing: border-box;
  }
  
  .mensaje_acento{
    font-family: 'Inter'; font-style: normal; font-weight: 700; font-size: 18px;
  }
  .contenedorDos{
    padding: 6%;
  }

  .encryptorButton {
    padding: 4%; font-size: 25px; background-color: #449494; color: white;
  }

  .encryptorButton:hover {
  background-color: #46c586;
  color: white;
}
  .decryptorButton {
    padding: 4%; font-size: 25px; background-color: #449494; color: white;
  }
  .decryptorButton:hover {
  background-color: #46c586;
  color: white;
}
  .caja_dos {
    font-size: 24px;
    border: 1px solid #46c586; box-sizing: border-box;
  }

  .contenedorCuatro{
    padding: 6%; 
    
  }
  .copiarButton {
    top: 10%; padding: 4%; font-size: 25px; background-color: #449494; color: white;
  }
  .limpiarButton {
    top: 10%; padding: 4%; font-size: 25px; background-color: #449494; color: white;
  }
  .imagen{
    
    display: none;
    visibility:hidden;
   

  }
  .mensajeUno{
    
    width: 98%;
    top:92%;
    color: #151616;
    text-align: center;
    font-size: 24px;
    float: left;
  }
  .mensajeDos{
    
    width: 98%;
    top:97%;
    color: #46c586;
    text-align: center;
    font-size: 18px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .container{
    border: 1px solid #bdbfc2; box-sizing: border-box; padding: 6% 5% 34% 5%;
  }

  .caja_uno{
    display:block;
    position: absolute;
    width: 50%; height: 70%;
    border-radius: 10px 30px 10px 10px;
    float: left;
    top: 3%;

  }

  .mensaje_acento{
    display:block;
    position: absolute;
    width: 50%;
    left: 1%;
    top:80%;
    text-align: left;
    float: left;

  }

  

  .caja_dos{
    display:block;
    position: absolute;
    visibility: visible;
    box-sizing: border-box;
    border-radius: 30px;
    width: 44%; height: 87%;
    float: left;
    left: 54%;
    top: 11%;
  }

  
  .encryptorButton {
    display:inline-block;
    position: absolute;
    border-radius: 20px 10px 10px 20px;
    width: 15%; height: 10%;
    padding: 0%; font-size: 20px;
    left:0%;
    top:87%
  }
  .decryptorButton {
    display:inline-block;
    position: absolute;
    width: 15%; height: 10%;
    padding: 0%; font-size: 20px;
    left:19%;
    top:87%
  }
  
  .copiarButton {
    display:inline-block;
    position: absolute;
    border-radius: 10px 10px 20px 10px;
    width: 15%; height: 8%;
    padding: 0%; font-size: 20px;
    left:78.5%;
    top:88%
  }
  .limpiarButton {
    display:inline-block;
    position: absolute;
    border-radius: 10px 20px 20px 10px;
    width: 15%; height: 10%;
    padding: 0%; font-size: 20px;
    left:35%;
    top:87%
  }
  .imagen{
    visibility: visible;
    position: absolute;
    width: 35%;
    left: 58%;
    top:11%;
    padding:2% 2% 2% 2%;
    color: #151616;
    text-align: center;
    font-size: 24px;
    float: left;
  }
  .mensajeUno{
    position: absolute;
    width: 50%;
    left: 50%;
    top:58%;
    padding:2% 2% 2% 2%;
    color: #151616;
    text-align: center;
    font-size: 24px;
    float: left;
  }
  .mensajeDos{
    position: absolute;
    width: 50%;
    left: 50%;
    top:69%;
    padding:2% 2% 2% 2%;
    color: #46c586;
    text-align: center;
    font-size: 18px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {
  .container{
    border: 1px solid #449494; box-sizing: border-box; padding: 1% 1% 17% 1%;
  }

  .contenedor{
     padding: 1% 1% 1% 1%;
  }
  .caja_uno{
    
    padding: 1% 1% 1% 1%;
    top:11%;
    float: right;
  }

  .mensaje_acento{
    top:75%;
    left:2%;
  }

  .caja_dos{
    top:11%;
  }

  .encryptorButton {
    top:84%;
    left:0.5%;
  }
  .decryptorButton {
    top:84%;
  }
  
  .copiarButton {
    
  }
  .limpiarButton {
    top:84%;
    left:34.5%;
  }
  .imagen{
    
  }
  .mensajeUno{
    
  }
  .mensajeDos{
    
  }
}