:root {
  --colorTextos: #8dc9e6;
 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1;
}

header {
  position: fixed;
  left: 0%;
  background-color: rgba (68, 148, 148, 0.5);
  height: 60px;
  width: 100%;
  
  background: linear-gradient(to right, #3caa94,#449494, #3caa94);
  transition: 0.3s ease all;
}

header h1 {
  position: fixed;
  height: 60px;
  width: 100%;
  font-size: 30px;
  font-style: bold;
  color: #ffffff;
  text-align: center;
  top: 25%;
}

body {
  background: #f3f5fc;
  z-index: 100;
}

.contenedor {
  position: fixed;
  width: 98%;
  height: 87%;
  top: 12%;
  left: 1%;
  right: 1%;
  z-index: 1;
  border: 1px solid #bdbfc2;
  box-sizing: border-box;
  border-radius: 1px;
}

.caja_uno {
  position: fixed;
  width: 96%;
  height: 35%;
  left: 2%;
  top: 1%;
  right: 1%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #0a3871;
  text-align: center;
  border: 1px solid #bdbfc2;
  box-sizing: border-box;
  border-radius: 10px;
  text-justify: justify;
  text-transform: lowercase;
  background-color: #ffffff50;
  z-index: 100;
}


.mensaje_acento {
  position: fixed;
    top: 38%;
    text-align: center;
    width: 100%;
    left: 0%;
    z-index: 100;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    color: #449494;
}

.encryptorButton {
  position: fixed;
  left: 2%;
  z-index: 100;
  top: 44%;
  right: 1%;
  width: 47%;
  height: 10%;
  border: 1px solid #bdbfc2;
  box-sizing: border-box;
  border-radius: 10px;
  background: #46c586;
  color: #FFFFFF;

}

.decryptorButton {
  position: fixed;
  z-index: 100;
  left: 51%;
  top: 44%;
  right: 1%;
  width: 47%;
  height: 10%;
  border: 1px solid #bdbfc2;
  box-sizing: border-box;
  border-radius: 10px;
}

.caja_dos {
  position: fixed;
  z-index: 100;
  width: 96%;
  height: 35%;
  left: 2%;
  top: 55%;
  right: 1%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #0a3871;
  text-align: center;
  padding: 10px;
  border: 1px solid #bdbfc2;
  box-sizing: border-box;
  border-radius: 10px;
}

.mensajeUno{
    position: fixed;
    z-index: 100;
    display: none;
    top: 65%;
    text-align: center;
    width: 100%;
    left: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.mensajeDos{
    position: fixed;
    z-index: 100;
    display:none;
    top: 75%;
    text-align: center;
    width: 100%;
    left: 0%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    color: #449494;
}



.copiarButton {
  position: fixed;
  z-index: 100;
  display: block;
  left: 2%;
  top: 91%;
  right: 1%;
  width: 47%;
  height: 8%;
  text-align: center;
  border: 1px solid #bdbfc2;
  box-sizing: border-box;
  border-radius: 10px;
}

.limpiarButton {
  position: fixed;
  z-index: 100;
  display: block;
  left: 51%;
  top: 91%;
  right: 1%;
  width: 47%;
  height: 8%;
  text-align: center;
  border: 1px solid #bdbfc2;
  box-sizing: border-box;
  border-radius: 10px;
}

body::-webkit-scrollbar{
  width: 7px;
}

body::-webkit-scrollbar-thumb{
  background: #3caa94;
  border-radius: 5px;
}
/*
@media (min-width: 200px) {
  
.limpiarButton {
  
  display: none;}
  
  
}*/