:root {
  --colorTextos: #8dc9e6;
 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  z-index: 1;
}

body {
  background: #f3f5fc; 
  overflow: auto;
}

header {
  left: 0%;
  background-color: rgba (68, 148, 148, 0.5);
  height: 60px;
  width: 100%;
  background: linear-gradient(to right, #3caa94,#449494, #3caa94);
  transition: 0.3s ease all;
}

.titulo {
  position: relative;
  width: 100%;
  height:20%;
  font-size: 30px;
  font-style: bold;
  color: #ffffff;
  text-align: center;
  top:20%;
  
}

.caja_uno{
  position: relative;
  width: 96%;
  height:5%;
  margin-top: 6%;
  left:2%;
  right:2%;
  padding: 2%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-justify: justify;
  text-align: center;
  text-transform: lowercase;
  color: #0a3871;
  background-color: #ffffff50;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  
}

.mensaje_acento{
  position: relative;
  width: 96%;
  top: 2%;
  left:2%;
  margin-top: 1%;
  text-align: center;
  color: #449494;
  padding: 1%;
  display: inline-block;

}

.encryptorButton {
    background-color: #46c586; /* Green */
    border: 1px solid #bdbfc2;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    margin-left: 3%;
    margin-right: 2%;
    width: 45%;
}

.decryptorButton {
  background-color: #46c586; /* Green */
    border: 1px solid #bdbfc2;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    /*padding: 4%;*/
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 0%;
    margin-right: 2%;
    width: 45%;

}

.caja_dos {
  position: relative;
  width: 96%;
  height:4%;
  left:2%;
  right:2%;
  padding: 2%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #0a3871;
  text-align: center;
  text-justify: justify;
  text-transform: lowercase;
  background-color: #ffffff50;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.mensajeUno{
  position: absolute;
  width: 96%;
  top: 80%;
  left:2%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #343A40;
  display: none;
}
.mensajeDos{
  position: absolute;
  width: 96%;
  top: 93%;
  left:2%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 200%;
  color: #449494;
  display: none;
}




.copiarButton {
  background-color: #46c586; /* Green */
    border: 1px solid #bdbfc2;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    margin-left: 3%;
    margin-right: 2%;
    width: 45%;
}

.limpiarButton {
  background-color: #46c586; /* Green */
    border: 1px solid #bdbfc2;
    box-sizing: border-box;
    border-radius: 10px;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    margin-left: 0%;
    margin-right: 2%;
    width: 45%;
}

@media only screen and (min-width: 768px) {

  input{
    padding: 1%;
  }

  .contenedorDos{
    margin-top: 1%;
    padding: 6%;
  }

  .encryptorButton {
    padding: 6%;
    font-size: 25px;
  }
  .decryptorButton {
    padding: 6%;
    font-size: 25px;
  }

  .contenedorCuatro{
    padding: 6%; 
  }
  .copiarButton {
    padding: 6%;
    font-size: 25px;
  }
  .limpiarButton {
    padding: 6%;
    font-size: 25px;
  }
  .caja_uno {}
  .mensaje_acento{}
  .caja_dos {}
}